@font-face {
    font-family: "Roboto";
    src:  
      url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"),
      url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto-Bold";
    src:
      url("../fonts/roboto/Roboto-Bold-webfont.woff") format("woff"),
      url("../fonts/roboto/Roboto-Bold-webfont.ttf") format("truetype");
 
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Indie";
    src: 
      url("../fonts/indie/IndieFlower-webfont.woff") format("woff"),
      url("../fonts/indie/IndieFlower-webfont.ttf") format("truetype");
      
    font-weight: normal;
    font-style: normal;
  }
  