/** Import Bootstrap functions */
// @import "~bootstrap/scss/functions";



$orange:#fca726;
$orange-light:#fab41f;
$grey:#cccdcc;

$crumbs-back:#fca726;
$text-color:#8093A7;

$text-blue: #105285;
$bg-blue:#F29489ED;

$f-primary: 'Roboto', sans-serif;
$f-primary-bold: 'Roboto-Bold';

$f-secondary: 'Indie', sans-serif;

