/** Import Bootstrap functions */
// @import "~bootstrap/scss/functions";


// Color
$primary: #f6a11c;
$primary-light: #f9ac33;
$bg-pink:#f6a11c;

$grey:#cccdcc;
$text-color:#8093A7;
$text-blue: #b14b6f;
$text-pink:#F29489;


// Font
$f-primary: 'Roboto',
sans-serif;
$f-primary-bold: 'Roboto-Bold';
$f-secondary: 'Indie',
sans-serif;
