/** Import Bootstrap functions */
// @import "~bootstrap/scss/functions";



$orange:#fca726;
$orange-light:#fab41f;
$grey:#cccdcc;

$text-blue: #105285;
$bg-blue:#105285;

$f-primary: 'Roboto', sans-serif;
$f-primary-bold: 'Roboto-Bold', sans-serif;

$f-secondary: 'Indie', sans-serif;