.header-harnold {
  background-color: white;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);


  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}

.menu {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F29489ED;
        font-weight: 900;
        font-size: 1.6rem;
        font-family: $f-primary;
        cursor: pointer;
        text-decoration: none;

        img {
          width: 35px;
          margin-right: 5px;
        }

        &:hover {
          color: $primary-light;
        }
      }
    }
  }

}

.logo_header {
  width: 200px;
  cursor: pointer;
  position: relative;

  .link-logo-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
