.recette{
    background-color: $bg-pink;
    
    padding: 25px 0;
    &__slick{
        display: flex;
        justify-content: space-around;
        padding: 0 ;
        &__card{
            padding:0 10px;
            p{
                
                background-color: green;
                min-height: 100px;;
            }   
        }
    }
}