.hero-home {
  width: 100%;
  padding: 70px 10px 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 1075px) {
    flex-direction: column;
    padding: 30px 20px 0;
  }

  &__right {
    position: relative;
    width: 40%;
    @media screen and (max-width: 1075px) {
      width: 100%;
      
    }
    .hero-image-home {
      object-fit: contain;
      width: 100% !important;
      height: 100%;
    }
  }

  &__circular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    width: 50%;
    @media screen and (max-width: 1075px) {
      width: 100%;
      padding:0px;
      margin-bottom: 30px;
    }

    &__content {

      &__title {
        margin: 0;
        font-family: $f-primary;
        font-weight: 700;
        margin-bottom: 10px;
        @media screen and (max-width: 1075px) {
          text-align: center;
        }
      }

      .title-under {
        font-family: $f-secondary;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 900;
        @media screen and (max-width: 1075px) {
          text-align: center;
        }

        &__ligne {
          color: black;
          font-weight: 900;
          font-family: $f-primary;
          margin-bottom: 20px;
          @media screen and (max-width: 1075px) {
            text-align: center;
          }
        }
      }

      .title-number {
        font-family: $f-primary;
        font-weight: 700;
        font-size: 14px;
        background-color: $bg-pink;
        padding: 10px;
        border-radius: 10px;
        width: 55%;
        @media screen and (max-width: 1075px) {
          text-align: center;
          width: 100%;
        }
        span {
          font-family: $f-secondary;
          color: white;
          font-weight: 900;
          font-size: 30px;
          margin: 0 5px;
        }
      }
    }

    .count {
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      color: #FA8072;
      font-weight: 900;
    }
  }
}
